.processos-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.listagem-image {
  max-width: 100%;
  height: auto;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.styled-input {
  width: 50%;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.styled-input input {
  padding: 10px;
}

.styled-input .MuiInputAdornment-root {
  color: #007bff;
}

.styled-input .MuiIconButton-root {
  color: #007bff;
}
