.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.login-form {
  margin-top: 1rem;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-image {
  width: 100%;
  max-width: 200px;
  margin-top: 1rem;
}

.Toastify__toast-container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
