.processo-visualizacao-container {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .processo-visualizacao-container h1 {
    margin-bottom: 20px;
  }  